$color-primary-white: #FFFFFF;
$color-white-8: #F8F8F8;
$color-white-5: #E5E5E5;
$color-primary-green: #95B03C;
$color-primary-black: #3C3C3B;
$color-primary-red: #E94141;
$color-border-E0: #E0E0E0;
$color-border-EB: #EBEBEB;
$color-text-input: #B0B0B0;
$color-text-price: #C2C2C2;
$color-content-text: #262624;
