.header {
  padding-left: 20%;
  max-width: 100%;
  display: flex;
  height: 15rem;

  &__left {
    padding-bottom: 5rem;

    &__nav {
      @include font_14_16_400_6;
      color: $color-primary-black;
      height: 5rem;
      padding: 0 6%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      li{
        display: flex;

        p {
          padding-right: 1.1rem;
        }

        .dropdown {
          position: relative;
        }

        .dropdown-content a {
          padding: 1rem;
          display: block;
          text-align: left;
        }

        .dropdown-content {
          display: none;
          position: absolute;
          right: -1rem;
          z-index: 1;
          background-color: $color-primary-white;
          min-width: 14rem;
          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
          padding: 1.2rem;
        }

        .dropdown:hover .dropdown-content {
          display: block;
        }
      }
    }

    &__form {
      height: 5rem;
      padding: 0.8rem 6%;
      background-color: $color-white-8;

      .form-input {
        display: flex;
        height: 3.4rem;
        @include font_14_16_400_4;

        input {
          width: 82%;
          background-color: $color-primary-white;
          border: 1px solid $color-border-E0;
          color: $color-text-input;
          padding-left: 1.5rem;
        }

        a {
          display: flex;
          padding-left: 2.5rem;
          padding-right: 2.5rem;
          align-items: center;
          justify-content: space-between;
          width: 18%;
          background-color: $color-primary-black;
          color: $color-primary-white;

        }
      }
    }

  }

  &__right {
    padding-bottom: 5rem;
    display: flex;
    background-color: $color-primary-green;

    &__nav {
      width: inherit;
      border-bottom: 1px solid rgba($color-primary-white, 0.25);
      justify-content: space-evenly;
      align-items: center;

      a {
        display: block;
        color: $color-primary-white;

        .nav-box {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          margin-bottom: 1rem;

          img {
            padding-left: 1rem;
            padding-top: 0.1rem;
          }

          span {
            width: 1rem;
            @include font_13_0_700_1;
          }
        }

        p {
          @include font_12_14_400_6;
        }
      }
    }

    &__nav-max-520 {
      width: inherit;
      border-bottom: 1px solid rgba($color-primary-white, 0.25);

      div {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        a {
          display: block;
          color: $color-primary-white;

          .nav-box {
            display: flex;
            justify-content: center;
            align-items: flex-start;

            img {
              padding-left: 1rem;
            }

            span {
              width: 1rem;
              @include font_13_0_700_1;
            }
          }
        }
      }


    }

    &__det {
      width: 19rem;
      padding: 2rem;
      border-bottom: 1px solid rgba($color-primary-white, 0.25);
      color: $color-primary-white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-left: 1px solid rgba($color-primary-white, 0.25);
      @include font_18_26_700_0;

      p:nth-child(1) {
        @include font_12_14_400_6;
      }

      p:nth-child(3) {
        display: flex;
        align-items: center;

        a:nth-child(2) {
          @include font_12_30_400_1;
          margin-left: 1rem;
          border-bottom: 1px dotted;
          line-height: 14px;
        }
      }
    }

    &__advice {
      width: 29%;
      background-color: $color-primary-black;
      color: #FFFFFF;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
