*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  //1em = 16px

  @media only screen and (max-width: 101.18em){font-size: 62%;} //1rem = 9.92px
  @media only screen and (max-width: 94.94em){font-size: 61.5%;} //1rem = 9.84px
  @media only screen and (max-width: 88.69em){font-size: 59.5%;} //1rem = 9.52px
  @media only screen and (max-width: 82.44em){font-size: 56.5%;} //1rem = 9.04px
  @media only screen and (max-width: 74.94em){font-size: 52.5%;} //1rem = 8.4px
  @media only screen and (max-width: 69.94em){font-size: 47.5%;} //1rem = 7.6px

  //min-width: 1023px;
}

body {
  box-sizing: border-box;
  position: relative;
  font-family: "Roboto", sans-serif;
  background-color: $color-white-5;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
