@media only screen and (max-width: 1619px){
  .header__right__det p:nth-child(2) {font-size: 1.7rem;}

  .advantages__card-text {font-size: 2.2rem;}
}

@media only screen and(min-width: 1520px) {
  .header__left {width: 50%;}

  .header__right {width: 50%;}

  .content-top__slider__left {width: 50%;}

  .content-top__slider__right {width: 50%;}

  .header__right__nav {display: flex;}

  .header__right__nav-max-520 {display: none;}

  .header__right__advice {@include font_18_22_500_0;}

  .footer-center__heading p:nth-child(1){@include font_30_40_700_0;}

  .footer-top__offices__geo p {padding-left: 2rem;}

  .content-top__picture-text {width: 30%;}
}

@media only screen and (max-width: 1519px) {
  .advantages__card-text {font-size: 2.1rem;}

  .header__left {width: 60%;}

  .header__right {width: 40%;}

  .content-top__slider__left {width: 60%;}

  .content-top__slider__right {width: 40%;}

  .header__right__nav {display: none;}

  .header__right__nav-max-520 {display: block;}

  .header__right__advice {@include font_14_20_500_2;}

  .footer-center__heading p:nth-child(1){@include font_28_40_700_0;}

  .footer-top__offices__geo img{width: 90%;}

  .footer-top__offices__geo p {padding-left: 1rem;}

  .content-top__picture-text {width: 35%;}
}

@media only screen and (max-width: 1419px) {
  html {font-size: 59.5%;}

  .advantages__card-text {font-size: 2.1rem;}

  .footer-center__heading p:nth-child(1){@include font_27_40_700_0;}

  .content-top__picture-text p {font-size: 4.7rem;}

  .footer-top__offices__geo img {width: 83%;}
    
  .footer-top__offices__geo p {padding-left: 0.5rem;}

  .content-top__picture-text {width: 40%;}
}

@media only screen and (max-width: 1319px) {
  html {font-size: 56.5%;}

  .advantages__card-text {font-size: 2.0rem;}

  .content-top__picture-text p {font-size: 4.3rem;}

  .footer-top__offices__geo img {width: 75%;}

  .content-top__picture-text {width: 45%;}
}

@media only screen and (max-width: 1199px) {
  html {font-size: 52.5%;}

  .content-top__picture-text {width: 50%;}

  .content-top__picture-text p {font-size: 4.3rem;}

  .footer-top__offices__geo img {width: 70%;}

  .advantages__card-text {font-size: 1.8rem;}

  .footer-center__heading p:nth-child(1){@include font_25_40_700_0;}
}

@media only screen and (max-width: 1119px) {
  html {
    font-size: 47.5%;
  }
}

//min-width 1023
